textarea {
    width: 100%;
    resize: vertical;
    font-family: Consolas, monospace;
    font-size: 15px;
}

.card {
    border-radius: 12px;
}

.card-header {
    border-radius: 12px 12px 0 0 !important;
}

.CodeMirror{
    height:500px;
    border-radius:10px;
    font-size:16px;
}

.CodeMirror {
    border-radius: 8px;
    font-size: 15px;
    border: 1px solid #444;
}

.card {
    border-radius: 10px;
}

.card-header {
    border-radius: 10px 10px 0 0 !important;
}